<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Listar Horários</title>
  </head>
  <body>
   {{#each horarios}}
    ID: {{idHorarios}}<br>
    Hora: {{Hora}}<br>
    Pova: {{idProva}}<br>
    Docente: {{idDocente}}<br>
    Disponivel: {{Disponibilidade}}<br>
    Lista de Alunos: {{ListaAlunos}} <br>
    <hr>
   {{/each}}
   </body>
</html>